<div class='row'>
<div class='col-sm-4'>
    <h1><%=current_user.username%>'s Profile</h1>
    <img id="" src='<%= current_user.user_img %>'/>
    <h3>About</h3>
    <p><%=current_user.blurb%></p>
  </div> 
   <a class="btn btn-primary" style ="float: right" href="/" role="button">
 <i class="glyphicon glyphicon-dashboard"></i>Dashboard</a>  
  
  <div class='col-sm-8' id="skills_show">
    <h2><%= current_user.username %> wants to learn</h2>
    <%= render partial: "/shared/list_skills", collection: @teachables, locals: {format: "info"} %>

    <h2><%= current_user.username %> wants to teach</h2>
    <%= render partial: "/shared/list_skills", collection: @learnables, locals: {format: "success"} %>
    <div>
      <% if current_user.show_contact == true && current_user.get_matches.include?(@logged_in_user) %>
        <h1><span class="label label-primary"><%= current_user.username %> would like to meet you! Email her/him at</span></h1>
        <h1><span class="label label-primary"><%= current_user.email %></span></h1>
      <% end %> 
    </div>
  </div>

</div>
