<%= form_for current_user do |f| %>
    <%= f.label "username" %><br>
    <%= f.text_field "username" %>
  </div>
  <div>
    <%= f.label "email" %><br>
    <%= f.text_field "email" %>
  </div>
  <div>
    <%= f.label "password" %><br>
    <%= f.password_field "password" %>
  </div>
  <div>
    <%= f.label "user_img" %><br>
    <%= f.text_field "user_img" %>
  </div>
  <div>
    <%= f.label "blurb" %><br>
    <%= f.text_field "blurb", size: "60x24" %>
  </div>
  <div>
    <%= f.label "show_contact" %><br>
    <%= f.check_box "show_contact" %>
  </div>
  <div>
    <%= f.submit "Save" %> 
  </div>
<% end %>